*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #000; */
}

.landing{
    height: 100vh;
    width: 100vw;

    /* to dim the background-image */
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/landing_background.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;  
}
.nav{
    position: fixed;
    height:35px;
    width:100vw;
    margin:1rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    top:3%;
    gap:3rem;
    
  }

  .logo img{
    margin-left: 5rem;
    height: 50px;
  }
  .items{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:2rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  
  .language,.sign_in{
    font-size: 1.3rem;
    padding:8px 2px;
    width:7rem;
    
    
  }
  .sign_in{
    border-radius:6px;
    background-color:#e50914;
    color:white;
    border:none;
    
    
    
  }
  .language{
    border-radius:6px;
    background-color:rgba(0,0,0,0.5);
    color:white;
    border: 1px solid #fff;
    
  }
.main{
    color:#fff;
    text-align: center;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    /* font-weight: bold; */
    
}
.main h1{
    font-size: 3.6rem;
    padding-bottom: 1.5rem;
}
#watch{
    font-size: 2rem;
    padding-bottom: 1.5rem;
}
#ready{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
#email{
    width:40rem;
    font-size: 1.2rem;
    padding: 1.15rem
}
#started{
   
    font-size: 1.5rem;
    padding: 1rem;
    background-color: rgb(233, 17, 17);
    color: #fff;
    border-radius: 4px;
    border: none;
}