*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 25, 25);
  color: #fff;
  height: 100vh;
  width: 100vw;
}

/* *************************************************************************** */
/* navigation starts */
nav{
  position: fixed;
  height:35px;
  width:100vw;
  margin:1rem;
  display: flex;
  justify-content:space-between;
  align-items: center;
  /* top:3%; */
  padding: 2rem;
  gap:3rem;
  
}

.logo img{
  margin-left: 5rem;
  height: 50px;
}
.items{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:2rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.language,.sign_in{
  font-size: 1.3rem;
  padding:8px 2px;
  width:7rem;
}
.sign_in{
  border-radius:6px;
  background-color:#e50914;
  color:white;
  border:none;
}
.language{
  border-radius:6px;
  background-color:rgba(0,0,0,0.5);
  color:white;
  border: 1px solid #fff;
}
/* navigation ends */
/* *************************************************************************** */
/* landing section starts */
.landing{
    min-height: 100%;
    width: 100%;

    /* to dim the background-image */
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/landing_background.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;  
    margin-bottom: 0.7rem;
}

.main{
    color:#fff;
    text-align: center;
  
    
}
h2{
    font-size: 3.6rem;
    padding-bottom: 1.5rem;
}
p{
    font-size: 2rem;
    padding-bottom: 1.5rem;
}
#ready{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
#email{
    width:40rem;
    font-size: 1.2rem;
    padding: 1.15rem
}
#started{
    font-size: 1.5rem;
    padding: 1rem;
    background-color: rgb(233, 17, 17);
    color: #fff;
    border-radius: 4px;
    border: none;
}
/* landing section ends */

.container{
  display: flex;
  align-items: center;
  padding: 2rem 10rem;
  justify-content: space-evenly;
  background-color: #000;
  gap: 4rem;
  margin-bottom: 0.7rem;
  
}
.top{
  padding-top: 6rem;
  text-align: center;
}
.faq{
  height:5rem;
  width:900px;
  background-color:rgb(72, 71, 71) ;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  text-align: left;
}
